<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banzhe.hokage.persistence.mapper.HokageServerApplicationMapper">
    <resultMap id="HokageServerApplicationMapper" type="HokageServerApplicationDO">
        <result property="id" column="id" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="applyId" column="apply_id" />
        <result property="serverId" column="server_id" />
        <result property="approveIds" column="approve_ids" />
        <result property="actualApproveId" column="actual_approve_id" />
    </resultMap>
    <sql id="allColumns" >
        id,
        gmt_modified,
        gmt_create,
        apply_id,
        server_id,
        approve_ids,
        actual_approve_id
    </sql>

    <sql id="tableName">
        hokage_server_application
    </sql>

    <insert id="insert" parameterType="HokageServerApplicationDO">
        INSERT INTO
            <include refid="tableName" />
        (
            <include refid="allColumns" />
        ) VALUES (
            #{id},
            now(),
            now(),
            #{applyId},
            #{serverId},
            #{approveIds},
            #{actualApproveId}
        )
    </insert>

    <update id="update" parameterType="HokageServerApplicationDO">
        UPDATE
        <include refid="tableName"/>
        <set>
            gmt_modified=now()
            <if test="applyId != null and applyId != '' ">
                ,apply_id = #{applyId}
            </if>
            <if test="serverId != null and serverId != '' ">
                ,server_id = #{serverId}
            </if>
            <if test="approveIds != null and approveIds != '' ">
                ,approve_ids = #{approveIds}
            </if>
            <if test="actualApproveId != null and actualApproveId != '' ">
                ,actual_approve_id = #{actualApproveId}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>