<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hokage.persistence.mapper.HokageSubordinateServerMapper">
    <resultMap id="HokageSubordinateServerMapper" type="HokageSubordinateServerDO">
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="id" column="id"/>
        <result property="serverId" column="server_id"/>
        <result property="subordinateId" column="subordinate_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="allColumn">
        id,
        gmt_create,
        gmt_modified,
        server_id,
        subordinate_id,
        status
    </sql>

    <sql id="tableName">
        hokage_subordinate_server
    </sql>

    <insert id="insert" parameterType="HokageSubordinateServerDO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="allColumn"/>
        )
        VALUES (
            #{id},
            now(),
            now(),
            #{serverId},
            #{subordinateId},
            #{status}
        );
    </insert>

    <update id="update" parameterType="HokageSubordinateServerDO">
        UPDATE
        <include refid="tableName"/>
        <set>
            gmt_modified = now()
            <if test="serverId != null and serverId != '' ">
                ,server_id = #{serverId}
            </if>
            <if test="subordinateId != null and subordinateId != '' ">
                ,subordinate_id = #{subordinateId}
            </if>
            <if test="status != null and status != '' or status == 0 ">
                ,status = #{status}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectByServerIds" parameterType="java.util.List" resultMap="HokageSubordinateServerMapper">
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            server_id IN
            <foreach collection="list" item="serverId" index="index" open="(" close=")" separator=",">
                #{serverId}
            </foreach>
            AND status &lt;&gt; -1
        </where>
    </select>

    <select id="selectByOrdinateIds" parameterType="java.util.List" resultMap="HokageSubordinateServerMapper" >
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            subordinate_id IN
            <foreach collection="list" item="subordinateId" index="index" open="(" close=")" separator=",">
                #{subordinateId}
            </foreach>
            AND status &lt;&gt; -1
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="HokageSubordinateServerMapper">
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            id = #{id}
            AND status &lt;&gt; -1
        </where>
    </select>

    <insert id="addBySubordinateId" >
        insert into
        <include refid="tableName"/>
        VALUES
        <foreach collection="serverIds" item="serverId" index="index" separator=",">
            (
                #{id},
                now(),
                now(),
                #{serverId},
                #{supervisorId},
                0
            )
        </foreach>
    </insert>

    <delete id="removeBySubordinateId">
        delete
        FROM
        <include refid="tableName"/>
        <where>
            subordinate_id = #{id}
            <if test="serverIds != null and serverIds.size > 0">
                and server_id IN
                <foreach collection="serverIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="queryBySubordinateIdAndServerId" resultMap="HokageSubordinateServerMapper">
        SELECT <include refid="allColumn" />
        FROM <include refid="tableName" />
        <where>
            server_id=#{serverId} AND subordinate_id=#{subordinateId} AND status &lt;&gt; -1
        </where>
    </select>

</mapper>