<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hokage.persistence.mapper.HokageSubordinateServerMapper">
    <resultMap id="HokageSubordinateServerMapper" type="HokageSubordinateServerDO">
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="id" column="id"/>
        <result property="serverId" column="server_id"/>
        <result property="subordinateId" column="subordinate_id"/>
        <result property="ip" column="ip"/>
        <result property="passwd" column="passwd"/>
        <result property="sshPort" column="ssh_port"/>
        <result property="account" column="account"/>
        <result property="loginType" column="login_type"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="allColumn">
        id,
        gmt_create,
        gmt_modified,
        server_id,
        subordinate_id,
        ip,
        passwd,
        ssh_port,
        account,
        login_type,
        status
    </sql>

    <sql id="tableName">
        hokage_subordinate_server
    </sql>

    <insert id="insert" parameterType="HokageSubordinateServerDO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="allColumn"/>
        )
        VALUES (
            #{id},
            now(),
            now(),
            #{serverId},
            #{subordinateId},
            #{ip},
            #{passwd},
            #{sshPort},
            #{account},
            #{loginType},
            #{status}
        );
    </insert>

    <update id="update" parameterType="HokageSubordinateServerDO">
        UPDATE
        <include refid="tableName"/>
        <set>
            gmt_modified = now()
            <if test="serverId != null and serverId != '' ">
                ,server_id = #{serverId}
            </if>
            <if test="subordinateId != null and subordinateId != '' ">
                ,subordinate_id = #{subordinateId}
            </if>
            <if test="ip != null and ip != '' ">
                ,ip = #{ip}
            </if>
            <if test="passwd != null and passwd != '' ">
                ,passwd = #{passwd}
            </if>
            <if test="sshPort != null and sshPort != '' ">
                ,ssh_port = #{sshPort}
            </if>
            <if test="account != null and account != '' ">
                ,account = #{account}
            </if>
            <if test="loginType != null and loginType != '' or loginType == 0 ">
                ,login_type = #{loginType}
            </if>
            <if test="status != null and status != '' or status == 0 ">
                ,status = #{status}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectByServerIds" parameterType="java.util.List" resultMap="HokageSubordinateServerMapper">
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            status &lt;&gt; -1
            <if test="serverIds != null and serverIds.size > 0">
                AND server_id IN
                <foreach collection="serverIds" item="serverId" index="index" open="(" close=")" separator=",">
                    #{serverId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByOrdinateIds" parameterType="java.util.List" resultMap="HokageSubordinateServerMapper" >
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            status &lt;&gt; -1
            <if test="subordinateIds != null and subordinateIds.size > 0">
                AND subordinate_id IN
                <foreach collection="subordinateIds" item="subordinateId" index="index" open="(" close=")" separator=",">
                    #{subordinateId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="HokageSubordinateServerMapper">
        SELECT
        <include refid="allColumn"/>
        FROM
        <include refid="tableName"/>
        <where>
            id = #{id}
            AND status &lt;&gt; -1
        </where>
    </select>

    <insert id="addBySubordinateId" >
        insert into
        <include refid="tableName"/>
        (
            <include refid="allColumn"/>
        )
        VALUES
        <foreach collection="serverIds" item="serverId" index="index" separator=",">
            (
                #{id},
                now(),
                now(),
                #{serverId},
                #{supervisorId},
                0
            )
        </foreach>
    </insert>

    <update id="removeBySubordinateId">
        UPDATE <include refid="tableName"/>
        <set>
            status=-1
        </set>
        <where>
            subordinate_id = #{id}
            <if test="serverIds != null and serverIds.size > 0">
                and server_id IN
                <foreach collection="serverIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>

    <select id="queryBySubordinateIdAndServerId" resultMap="HokageSubordinateServerMapper">
        SELECT <include refid="allColumn" />
        FROM <include refid="tableName" />
        <where>
            server_id=#{serverId} AND subordinate_id=#{subordinateId} AND status &lt;&gt; -1
        </where>
    </select>

    <select id="queryBySupervisorIdAndSubordinateId" resultMap="HokageSubordinateServerMapper">
        SELECT <include refid="allColumn" />
        FROM
        <include refid="tableName" />
        <where>
            subordinate_id=#{subordinateId} AND status &lt;&gt; -1
        </where>
    </select>

    <select id="selectAll" resultMap="HokageSubordinateServerMapper">
        SELECT
        <include refid="allColumn" />
        FROM <include refid="tableName">
    </include>
    </select>
</mapper>