<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokage.persistence.mapper.HokageUserMapper">
    <resultMap id="HokageUserMapper" type="HokageUserDO">
        <result property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="username" column="username" />
        <result property="passwd" column="passwd" />
        <result property="role" column="role" />
        <result property="email" column="email" />
        <result property="subscribed" column="is_subscribed" />
    </resultMap>

    <sql id="allColumns">
        id,
        gmt_create,
        gmt_modified,
        username,
        passwd,
        role,
        email,
        is_subscribed
    </sql>

    <sql id="baseSql">
        <where>
            <if test="id != null and id > 0 ">
                and id=#{id}
            </if>
            <if test="username != null and username !='' ">
                and username=#{username}
            </if>
            <if test="passwd != null and passwd !='' ">
                and passwd=#{passwd}
            </if>
            <if test="role != null and role !='' ">
                and role=#{role}
            </if>
            <if test="email != null and email !='' ">
                and email=#{email}
            </if>
            <if test="subscribed != null and subscribed !='' ">
                and is_subscribed=#{subscribed}
            </if>
        </where>
    </sql>

    <sql id="tableName">hokage_user</sql>


    <insert id="insert" parameterType="HokageUserDO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="allColumns"/>
        )
        VALUES (
            #{id},
            now(),
            now(),
            #{username},
            #{passwd},
            #{role},
            #{email},
            #{subscribed}
        );
    </insert>
    <update id="update" parameterType="HokageUserDO">
        UPDATE
        <include refid="tableName" />
        <set>
            gmt_modified = now()
            <if test="username != null and username !='' ">
                ,username=#{username}
            </if>
            <if test="passwd != null and passwd !='' ">
                ,passwd=#{passwd}
            </if>
            <if test="role != null and role !='' ">
                ,role=#{role}
            </if>
            <if test="email != null and email !='' ">
                ,email=#{email}
            </if>
            <if test="subscribed != null and subscribed !='' ">
                ,is_subscribed=#{subscribed}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <select id="getUserById" parameterType="java.lang.Long" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            id=#{id}
        </where>
    </select>
    <select id="listUserByName" parameterType="java.lang.String" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            username =#{username}
        </where>
    </select>
    <select id="listUserByRole" parameterType="java.lang.Integer" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            role=#{role}
        </where>
    </select>
    <select id="listAll" parameterType="HokageUserDO" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <include refid="baseSql"/>
    </select>
    <select id="getUserByEmail" parameterType="java.lang.String" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            email=#{email}
        </where>
    </select>

    <select id="listUserByIds" parameterType="java.util.List" resultMap="HokageUserMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>