<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokage.persistence.mapper.HokageFixedDateTaskMapper">
    <resultMap id="HokageFixedDateTaskMapper" type="HokageFixedDateTaskDO">
        <result property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="userId" column="user_id" />
        <result property="taskName" column="task_name" />
        <result property="taskType" column="task_type" />
        <result property="execTime" column="exec_time" />
        <result property="execServers" column="exec_servers" />
        <result property="execCommand" column="exec_command" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="allColumns">
        id,
        gmt_create,
        gmt_modified,
        user_id,
        task_name,
        task_type,
        exec_time,
        exec_servers,
        exec_command,
        status
    </sql>

    <sql id="baseSql">
        <where>
            <if test="userId != null and userId !='' ">
                and user_id=#{userId}
            </if>
            <if test="taskName != null and taskName !='' ">
                and task_name=#{taskName}
            </if>
            <if test="taskType != null and taskType !='' ">
                and task_type=#{taskType}
            </if>
            <if test="execTime != null and execTime !='' ">
                and exec_time=#{execTime}
            </if>
            <if test="execServers != null and execServers !='' ">
                and exec_servers=#{execServers}
            </if>
            <if test="execCommand != null and execCommand !='' ">
                and exec_command=#{execCommand}
            </if>
            <if test="status != null and status !='' || status == 0 ">
                and status=#{status}
            </if>
        </where>
    </sql>

    <sql id="tableName">hokage_fixed_date_task</sql>

    <insert id="insert" parameterType="HokageFixedDateTaskDO" >
        INSERT INTO <include refid="tableName"/>
        (
            <include refid="allColumns"/>
        )
        VALUES (
            #{id},
            now(),
            now(),
            #{userId},
            #{taskName},
            #{taskType},
            #{execTime},
            #{execServers},
            #{execCommand},
            #{status}
        );
    </insert>

    <update id="update" parameterType="HokageFixedDateTaskDO">
        UPDATE
        <include refid="tableName" />
        <set>
            gmt_modified = now()
            <if test="userId != null and userId !='' ">
                ,user_id=#{userId}
            </if>
            <if test="taskName != null and taskName !='' ">
                ,task_name=#{taskName}
            </if>
            <if test="taskType != null and taskType !='' ">
                ,task_type=#{taskType}
            </if>
            <if test="execTime != null and execTime !='' ">
                ,exec_time=#{execTime}
            </if>
            <if test="execServers != null and execServers !='' ">
                ,exec_servers=#{execServers}
            </if>
            <if test="execCommand != null and execCommand !='' ">
                ,exec_command=#{execCommand}
            </if>
            <if test="status != null and status !='' || status == 0 ">
                ,status=#{status}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            id=#{id}
        </where>
    </select>

    <select id="findByName" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            task_name=#{taskName}
        </where>
    </select>

    <select id="findAll" parameterType="HokageFixedDateTaskDO" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <include refid="baseSql"/>
    </select>

    <select id="findByType" parameterType="java.lang.Integer" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            task_type=#{type}
        </where>
    </select>

    <select id="listByUserId" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            user_id=#{userId} and status &gt;= 0
        </where>
    </select>

    <select id="listRunnableTask" resultMap="HokageFixedDateTaskMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            exec_time BETWEEN #{start} AND #{end} and status &gt;= 0
        </where>
    </select>
</mapper>