<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banzhe.hokage.persistence.mapper.HokageSupervisorServerMapper">
    <resultMap id="HokageSupervisorServerMapper" type="HokageSupervisorServerDO">
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="id" column="id"/>
        <result property="serverId" column="server_id"/>
        <result property="supervisorId" column="supervisor_id"/>
    </resultMap>

    <sql id="allColumns">
        id,
        gmt_create,
        gmt_modified,
        server_id,
        supervisor_id
    </sql>

    <sql id="tableName">
        hokage_supervisor_server
    </sql>

    <insert id="insert" parameterType="HokageSupervisorServerDO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="allColumns"/>
        )
        VALUES (
            #{id},
            now(),
            now(),
            #{serverId},
            #{supervisorId}
        );
    </insert>
    <update id="update" parameterType="HokageSupervisorServerDO">
        UPDATE
        <include refid="tableName"/>
        <set>
            gmt_modified = now()
            <if test="serverId != null and serverId != '' ">
                ,server_id = #{serverId}
            </if>
            <if test="supervisorId != null and supervisorId != '' ">
                ,supervisor_id = #{supervisorId}
            </if>
        </set>
    </update>
    <select id="listByServerIds" parameterType="java.util.List" resultMap="HokageSupervisorServerMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            server_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="listBySupervisorIds" parameterType="java.util.List" resultMap="HokageSupervisorServerMapper">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        <where>
            supervisor_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <delete id="removeBySupervisorId">
        delete
        FROM
        <include refid="tableName"/>
        <where>
            supervisor_id = #{id}
            <if test="serverIds != null and serverIds.size > 0">
                and server_id IN
                <foreach collection="serverIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>

    <insert id="addBySupervisorId" >
        insert into
        <include refid="tableName"/>
        VALUES
        <foreach collection="list" item="serverId" index="index" separator=",">
            (
                #{id},
                now(),
                now(),
                #{serverId},
                #{supervisorId}
            )
        </foreach>
    </insert>
</mapper>