<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hokage.persistence.dataobject.HokageUserDO" alias="HokageUserDO"/>
        <typeAlias type="com.hokage.persistence.dataobject.HokageSupervisorServerDO" alias="HokageSupervisorServerDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageSubordinateServerDO" alias="HokageSubordinateServerDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageSupervisorSubordinateDO" alias="HokageSupervisorSubordinateDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageSecurityGroupDO" alias="HokageSecurityGroupDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageServerDO" alias="HokageServerDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageServerGroupDO" alias="HokageServerGroupDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageFixedDateTaskDO" alias="HokageFixedDateTaskDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageTaskResultDO" alias="HokageTaskResultDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageSequenceDO" alias="HokageSequenceDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageServerApplicationDO" alias="HokageServerApplicationDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageServerSshKeyContentDO" alias="HokageServerSshKeyContentDO" />
        <typeAlias type="com.hokage.persistence.dataobject.HokageServerMetricDO" alias="HokageSystemMetricDO" />
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/hokage_user-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_supervisor_server-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_subordinate_server-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_supervisor_subordinate-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_security_group-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_server-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_server_group-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_fixed-date-task-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_task_result-mapper.xml"/>
        <mapper resource="mybatis/mapper/hokage_sequence-mapper.xml" />
        <mapper resource="mybatis/mapper/Hokage_server_ssh_key_content-mapper.xml" />
        <mapper resource="mybatis/mapper/hokage_server_metric-mapper.xml" />
    </mappers>
</configuration>