.ant-table-tbody > tr > td {
  padding: 8px
}

.ant-table-thead > tr > th {
  padding: 8px
}

.file-action-menu .file-action-menu-item {
  height: 20px;
  line-height: 20px;
}

.customItem > .ant-descriptions-item-content {
  width: 100%
}